body{
    margin: 0px;
}

.wrapper{
    display: grid;
    grid-template-rows: 48px auto auto auto 24px;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    min-height: 100vh;
}

header{
    grid-area: header;
}

nav{
grid-area: nav;
    ul{
        display: grid;
        text-align: center;
    }
}

main{
    margin-left: 1em;
    margin-right: 1em;
    grid-area: main;
    img{
        max-width: 100%;
    }
}

footer{
    grid-area: footer;
    p{
        margin-top: 0px;
    }
}

h1{
    margin: 0;
}


@media (min-width: 769px) {
    .wrapper{
        display: grid;
        grid-template-rows: 48px auto auto 24px;
        grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
        min-height: 100vh;
    }

    nav{
        grid-area: nav;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main{
        display: grid;
        grid-area: main;
        grid-template-columns: 1fr 1fr;
    }

    footer{
        grid-area: footer;
    }
    
    h1{
        margin: 0;
    }
}

//////////
//SIDA 2//
//////////
body#sida2{
    margin: 0px;
    
    .wrapper{
        display: grid;
        grid-template-rows: 48px auto auto 24px;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "footer";
        min-height: 100vh;
        border-style: solid;
        border-width: 0.25px;
    }
    
    header{
        grid-area: header;
        border-style: solid;
        border-width: 0.25px;
    }
    
    nav{
    grid-area: nav;
    margin: 0;
        ul{
            margin: 0;
            padding: 0;
            display: grid;
            text-align: center;
            list-style-type: none;
            li{
                border-style: solid;
                border-width: 0.125px 0px
            }
        }
    }
    
    main{
        margin: 0;
        grid-area: main;
        border-style: solid;
        border-width: 0.25px;
        
        img{
            max-width: 100%;
        }
        
        display: grid;
        grid-template-columns: auto;
        article{
            margin: 0;
            figure{
                display:grid;
                grid-template-columns: 1fr 1fr;
                figcaption{
                    align-self: center;
                    margin-left: 1em;
                }
            }
            border-style: solid;
            border-width: 0.125px 0px
        }
        
    }
    
    footer{
        grid-area: footer;
        p{
            margin-top: 0px;
        }
    }
    
    h1{
        margin: 0;
    }
    //desktop only
    @media (min-width: 769px) {
        min-height: 100vh;
        
        .wrapper{
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-rows: 48px auto 24px;
            grid-template-areas: 
            "header header"
            "nav main"
            "footer footer";
        }
        
        header{
            grid-area: header;
        }
        
        nav{
            grid-area: nav;

            ul{
                height: 100%;
            }
        }
        main{
            grid-area: main;
            
            article{
                margin: 0.5em 0;
                
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-template-areas:
                "figure text";
                
                figure{
                    align-self: center;
                    margin: 1em;
                    grid-area: figure;
                    display: block;
                }
                p{
                    grid-area: text;
                    align-self: center;
                }
            }
        }

        footer{
            grid-area: footer;
        }
        
        h1{
            margin: 0;
        }
    }
}

//////////
//SIDA 3//
//////////
body#sida3{
    margin: 0px;
    
    .wrapper{
        display: grid;
        grid-template-rows: 48px auto auto auto 24px;
        grid-template-areas:
            "header"
            "nav"
            "main"
            "aside"
            "footer";
        min-height: 100vh;
        border-style: solid;
        border-width: 0.25px;
    }
    
    header{
        grid-area: header;
        border-style: solid;
        border-width: 0.25px;
    }
    
    nav{
        grid-area: nav;
        margin: 0;

        ul{
            margin: 0;
            padding: 0;
            display: grid;
            text-align: center;
            list-style-type: none;
            li{
                border-style: solid;
                border-width: 0.125px 0px
            }
        }
    }
    
    main{
        margin: 0;
        grid-area: main;
        border-style: solid;
        border-width: 0.25px;
    }
    
    aside{
        margin: 0;
        grid-area: aside;
        border-style: solid;
        border-width: 0.25px;
    }
    
    footer{
        grid-area: footer;
        p{
            margin-top: 0px;
        }
    }
    
    h1{
        margin: 0;
    }
    //desktop only
    @media (min-width: 769px) {
        min-height: 100vh;
        
        .wrapper{
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-rows: 48px auto 24px;
            grid-template-areas: 
            "header header"
            "nav main"
            "footer footer";
        }
        
        header{
            grid-area: header;
        }
        
        nav{
            grid-area: nav;
            display: inline-block;

            ul{
                height: 100%;
            }
        }
        main{
            grid-area: main;
            
            article{
                margin: 0.5em 0;
                
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-template-areas:
                "figure text";
                
                figure{
                    align-self: center;
                    margin: 1em;
                    grid-area: figure;
                    display: block;
                }
                p{
                    grid-area: text;
                    align-self: center;
                }
            }
        }

        footer{
            grid-area: footer;
        }
        
        h1{
            margin: 0;
        }
    }
}