body {
  margin: 0px;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 48px auto auto auto 24px;
      grid-template-rows: 48px auto auto auto 24px;
      grid-template-areas: "header" "nav" "main" "footer";
  min-height: 100vh;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

nav ul {
  display: -ms-grid;
  display: grid;
  text-align: center;
}

main {
  margin-left: 1em;
  margin-right: 1em;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
}

main img {
  max-width: 100%;
}

footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: footer;
}

footer p {
  margin-top: 0px;
}

h1 {
  margin: 0;
}

@media (min-width: 769px) {
  .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 48px auto auto 24px;
        grid-template-rows: 48px auto auto 24px;
        grid-template-areas: "header" "nav" "main" "footer";
    min-height: 100vh;
  }
  nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: nav;
        grid-template-columns: 1fr 1fr 1fr;
  }
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: main;
        grid-template-columns: 1fr 1fr;
  }
  footer {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: footer;
  }
  h1 {
    margin: 0;
  }
}

body#sida2 {
  margin: 0px;
}

body#sida2 .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 48px min-content auto 24px;
      grid-template-rows: 48px -webkit-min-content auto 24px;
      grid-template-rows: 48px min-content auto 24px;
      grid-template-areas: "header" "nav" "main" "footer";
  min-height: 100vh;
  border-style: solid;
  border-width: 0.25px;
}

body#sida2 header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  border-style: solid;
  border-width: 0.25px;
}

body#sida2 nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  margin: 0;
}

body#sida2 nav ul {
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  text-align: center;
  list-style-type: none;
}

body#sida2 nav ul li {
  border-style: solid;
  border-width: 0.125px 0px;
}

body#sida2 main {
  margin: 0;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
  border-style: solid;
  border-width: 0.25px;
  display: -ms-grid;
  display: grid;
      grid-template-columns: auto;
}

body#sida2 main img {
  max-width: 100%;
}

body#sida2 main article {
  margin: 0;
  border-style: solid;
  border-width: 0.125px 0px;
}

body#sida2 main article figure {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

body#sida2 main article figure figcaption {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 1em;
}

body#sida2 footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: footer;
}

body#sida2 footer p {
  margin-top: 0px;
}

body#sida2 h1 {
  margin: 0;
}

@media (min-width: 769px) {
  body#sida2 {
    min-height: 100vh;
  }
  body#sida2 .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr;
        grid-template-columns: 1fr 3fr;
    -ms-grid-rows: 48px auto 24px;
        grid-template-rows: 48px auto 24px;
        grid-template-areas: "header header" "nav main" "footer footer";
  }
  body#sida2 header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
  }
  body#sida2 nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: nav;
  }
  body#sida2 nav ul {
    height: 100%;
  }
  body#sida2 main {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: main;
  }
  body#sida2 main article {
    margin: 0.5em 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "figure text";
  }
  body#sida2 main article figure {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 1em;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: figure;
    display: block;
  }
  body#sida2 main article p {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: text;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  body#sida2 footer {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: footer;
  }
  body#sida2 h1 {
    margin: 0;
  }
}

body#sida3 {
  margin: 0px;
}

body#sida3 .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 48px min-content auto auto 24px;
      grid-template-rows: 48px -webkit-min-content auto auto 24px;
      grid-template-rows: 48px min-content auto auto 24px;
      grid-template-areas: "header" "nav" "main" "aside" "footer";
  min-height: 100vh;
  border-style: solid;
  border-width: 0.25px;
}

body#sida3 header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  border-style: solid;
  border-width: 0.25px;
}

body#sida3 nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
  margin: 0;
}

body#sida3 nav ul {
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  text-align: center;
  list-style-type: none;
}

body#sida3 nav ul li {
  border-style: solid;
  border-width: 0.125px 0px;
}

body#sida3 main {
  margin: 0;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: main;
  border-style: solid;
  border-width: 0.25px;
}

body#sida3 aside {
  margin: 0;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: aside;
  border-style: solid;
  border-width: 0.25px;
}

body#sida3 footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: footer;
}

body#sida3 footer p {
  margin-top: 0px;
}

body#sida3 h1 {
  margin: 0;
}

@media (min-width: 769px) {
  body#sida3 {
    min-height: 100vh;
  }
  body#sida3 .wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr 3fr;
        grid-template-columns: 1fr 3fr 3fr;
    -ms-grid-rows: 48px auto 24px;
        grid-template-rows: 48px auto 24px;
        grid-template-areas: "header header header" "nav    main   aside" "footer footer footer";
  }
  body#sida3 header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: header;
  }
  body#sida3 nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: nav;
    display: inline-block;
  }
  body#sida3 nav ul {
    height: 100%;
  }
  body#sida3 main {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: main;
  }
  body#sida3 main article {
    margin: 0.5em 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2fr;
        grid-template-columns: 1fr 2fr;
        grid-template-areas: "figure text";
  }
  body#sida3 main article figure {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 1em;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: figure;
    display: block;
  }
  body#sida3 main article p {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: text;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  body#sida3 footer {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer;
  }
  body#sida3 h1 {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */